body {
    background-color: rgb(0, 0, 0);
}

img {
    height: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img {
    /*animation: neon 3s alternate infinite ease-in-out;*/
    animation: pulso 0.9s alternate infinite ease-in-out;
    animation-delay: 3s;
    animation-delay: 0s;
    animation-delay: -1500ms;
}

.botaonew {
    height: 2.8%;
}
@keyframes pulso {
    0% {/*box-shadow: 0 0 0;*/
        height: 5%;
    }
    100% {/*box-shadow: 0 0 20px;*/
        height: 5.5%;
    }
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
        filter: drop-shadow(0 0 60px var(--cor-neon));
    }    
}



.botaobackground {
    
    --cor-neon: #ffffff;
}

.botaonew {
    animation: neon 2.5s alternate infinite ease-in-out;
    --cor-neon: #00ff4c;
}
